{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "useTabs": true,
  "tabWidth": 4,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "none"
}
